.container{
    max-width: 400px;
    margin: 10vh auto 0 auto;
  
}

#display{
    text-align: right;
    height: 70px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 25px;
    width: 384px;
    height: 70px;
    background-color: lightgreen;
    border-color: black;
}
.buttons{
    display: grid;
    border-bottom: 1px solid#999;
    border-left: 1px solid #999;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-weight: bold;
    background: linear-gradient(135deg,rgba(98, 172, 55, 0.781), rgba(165, 24, 153, 0.815));
    backdrop-filter: blur(10px);
    
}
.buttons > div {
    border-top: 1px solid #999;
    border-right: 1px solid #999;

}
.button{
    border: 0.5px solid ;
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}
#equal{
    background-color: lightcoral;
    color: black;

}
.button:hover{
    background-color: black;
    color: white;
    transition: 0.5s ease-in-out;
    
}